<p>hello from score</p>
<p>Your answer was: <%= @answer %></p>
<p>The result is: <%= @message %></p>


<a href="/new">Sorry the results can't be built out of the letters <p><%= @letters %></p></a>
 <%# <% @letters.each do |letter| %>
    <%# <%= letter %>
  <%# <% end %>
